# Setup Notebook

In [1]:
# Set Working Directory
import os
os.chdir('..')

# Background

The US Primary and Secondary School System (public and charter elementary, middle, and high schools) is very large. However, the scale of the education system is often lost in our discussions. Figure 1 below illustrates the size of the US Primary and Secondary School System by comparing it with [US Defense](https://en.wikipedia.org/wiki/Military_budget_of_the_United_States).

![Figure 1: Overall government spending on defense and education (primary/secondary) are comparable.](images/spendingdefenseeducation.jpg)

US primary and secondary education's total funding is comparable to the US military budget, which is by far, the largest in the world. However, unlike the military, which is federally funded, education is mostly funded by local and state governments.

Because of education's scale, seemingly minor phenomena can have a major impact. As shown in Figure 2 below, the vast majority of 2010 school districts were still operational in 2015. However, the mere 4 percent of school districts that closed accounted for over $4 billions in government spending, and more importantly, about 380,000 students faced disruptions which could [harm communities](https://www.nytimes.com/2018/06/13/us/arena-wisconsin-schools-empty.html).

![Figure 2: More than 95 percent of school districts in 2010 remained operational in 2015.](images/2010pie.png)

By examining these "at-risk" school districts, education agencies and non-profit organizations can determine actions which may mitigate the effects of disruptions. To conduct studies on at-risk school districts, researchers must first identify them. Machine learning can be used to predict the likelihood of school districts closing within five years, and I created a binary classification model.

To complete the task, I completed the following steps.
1. Load the Data: Find and acquire data for analysis.
2. Wrangle the Data: Convert the data into a format suitable for further analysis.
3. Explore the Data: Identify patterns, develop an understanding of underlying distributions, and select variables most relevant for completing the task.
4. Build and Select Machine Learning Model: Establish evaluation metric, build multiple models, and select the best performing model based on the metric.
5. Provide Recommendations: Provide guidelines for using insights generated by the model, and provide recommendations for further work.

# Loading the Data
To complete this supervised learning task, I used the National Center of Education Statistic's [Common Core of Data](https://nces.ed.gov/ccd/). The Common Core of Data contains all information on primary and secondary school districts used by the Department of Education. It covers years between 1990 and 2015, and it contains hundreds of variables such as student demographics, revenue sources, and spending categories.

The data is stored in separate tab-delimited files on CCD's website. I downloaded the files from the website, and then stored the files within zipped archives. Table 1 below lists the files I used for this project.

![Table 1: The data was stored as separate tab-delimited text files on CCD's website.](images/files.png)

For this project, I completed data wrangling tasks with Python and Pandas. Before proceeding, I loaded the files into [Pandas DataFrames](https://www.datacamp.com/community/tutorials/pandas-tutorial-dataframe-python).

In [2]:
import pandas as pd
import zipfile # I used the zipfile library to access compressed archives

# Compressed archives were stored in the "data" folder within the project directory
finance_archive = zipfile.ZipFile('data/finance.zip', 'r')
universe_archive = zipfile.ZipFile('data/universe.zip', 'r')

# Read finance data
finance_2010 = pd.read_csv(
    finance_archive.open('finance_2010.txt'),
    dtype='str',
    delimiter='\t',
    encoding='windows-1252')
finance_2011 = pd.read_csv(
    finance_archive.open('finance_2011.txt'),
    dtype='str',
    delimiter='\t',
    encoding='windows-1252')

# Read universe data
universe_2010 = pd.read_csv(
    universe_archive.open('universe_2010.txt'),
    dtype='str',
    delimiter='\t',
    encoding='windows-1252')
universe_2011 = pd.read_csv(
    universe_archive.open('universe_2011.txt'),
    dtype='str',
    delimiter='\t',
    encoding='windows-1252')

# Read school universe data
school_universe_2010 = pd.read_csv(
    universe_archive.open('school_universe_2010.txt'),
    dtype='str',
    delimiter='\t',
    encoding='windows-1252')

# Read directory data
universe_2015_directory = pd.read_csv(
    universe_archive.open('universe_2015_directory.txt'),
    dtype='str',
    delimiter='\t',
    encoding='windows-1252')
universe_2016_directory = pd.read_csv(
    universe_archive.open('universe_2016_directory.txt'),
    dtype='str',
    delimiter=',',
    encoding='windows-1252')

To verify the data was correctly loaded into DataFrames, I printed the shape of each DataFrame I created.

In [3]:
# print shape of each DataFrame
print('finance_2010:            ', finance_2010.shape)
print('finance_2011:            ', finance_2011.shape)
print('universe_2010:           ', universe_2010.shape)
print('universe_2011:           ', universe_2011.shape)
print('school_universe_2010:    ', school_universe_2010.shape)
print('universe_2015_directory: ', universe_2015_directory.shape)
print('universe_2016_directory: ', universe_2016_directory.shape)

finance_2010:             (18247, 256)
finance_2011:             (18297, 256)
universe_2010:            (18439, 58)
universe_2011:            (18478, 319)
school_universe_2010:     (103959, 289)
universe_2015_directory:  (18834, 56)
universe_2016_directory:  (18893, 57)

There are more than 18,000 school districts, and there are hundreds of variables available for each school district.

# Wrangling the Data

Right now, the data is stored in multiple DataFrames. I wrangled the data from each school year into a [tidy](https://cran.r-project.org/web/packages/tidyr/vignettes/tidy-data.html) DataFrame to simplify analysis. Figure 3 below summarizes the process I used to transform the data into tidy data.

![Figure 3: Tidying the data involved aggregating, merging, labeling, and encoding.](images/preprocessing_steps.png)

The preprocessing steps are very similar between the 2010 and 2011 datasets. The main difference is that 2010 demographic information is only available at the school level, and it needs to be aggregated by the school district level.

### Aggregating School Universe DataÂ (2010)

Each record within the school universe files represents a single school. For my tidy dataset, each record will represent a school district, so I aggregated the school universe data by school districts.

In [4]:
# Aggregate school_universe_2010
# Specify types 
df_types = {
    'NCESSCH': 'str', 'FIPST': 'str', 'LEAID': 'str', 'SCHNO': 'str', 'STID': 'str', 'SEASCH': 'str', 
    'LEANM': 'str', 'SCHNAM': 'str', 'PHONE': 'str', 'MSTREE': 'str', 'MCITY': 'str', 'MSTATE': 'str', 
    'MZIP': 'str', 'MZIP4': 'str', 'LSTREE': 'str', 'LCITY': 'str', 'LSTATE': 'str', 'LZIP': 'str', 
    'LZIP4': 'str', 'TYPE': 'str', 'STATUS': 'str', 'ULOCAL': 'str', 'LATCOD': 'str', 'LONCOD': 'str', 
    'CONUM': 'str', 'CONAME': 'str', 'CDCODE': 'str', 'FTE': 'float', 'GSLO': 'str', 'GSHI': 'str', 
    'LEVEL': 'str', 'TITLEI': 'str', 'STITLI': 'str', 'MAGNET': 'str', 'CHARTR': 'str', 'SHARED': 'str', 
    'BIES': 'str', 'FRELCH': 'float', 'REDLCH': 'float', 'TOTFRL': 'float', 'RACECAT': 'str', 'PK': 'float', 
    'AMPKM': 'float', 'AMPKF': 'float', 'ASPKM': 'float', 'ASPKF': 'float', 'HIPKM': 'float', 'HIPKF': 'float', 
    'BLPKM': 'float', 'BLPKF': 'float', 'WHPKM': 'float', 'WHPKF': 'float', 'HPPKM': 'float', 'HPPKF': 'float', 
    'TRPKM': 'float', 'TRPKF': 'float', 'KG': 'float', 'AMKGM': 'float', 'AMKGF': 'float', 'ASKGM': 'float', 
    'ASKGF': 'float', 'HIKGM': 'float', 'HIKGF': 'float', 'BLKGM': 'float', 'BLKGF': 'float', 'WHKGM': 'float', 
    'WHKGF': 'float', 'HPKGM': 'float', 'HPKGF': 'float', 'TRKGM': 'float', 'TRKGF': 'float', 'G01': 'float', 
    'AM01M': 'float', 'AM01F': 'float', 'AS01M': 'float', 'AS01F': 'float', 'HI01M': 'float', 'HI01F': 'float',
    'BL01M': 'float', 'BL01F': 'float', 'WH01M': 'float', 'WH01F': 'float', 'HP01M': 'float', 'HP01F': 'float', 
    'TR01M': 'float', 'TR01F': 'float', 'G02': 'float', 'AM02M': 'float', 'AM02F': 'float', 'AS02M': 'float', 
    'AS02F': 'float', 'HI02M': 'float', 'HI02F': 'float', 'BL02M': 'float', 'BL02F': 'float', 'WH02M': 'float', 
    'WH02F': 'float', 'HP02M': 'float', 'HP02F': 'float', 'TR02M': 'float', 'TR02F': 'float', 'G03': 'float', 
    'AM03M': 'float', 'AM03F': 'float', 'AS03M': 'float', 'AS03F': 'float', 'HI03M': 'float', 'HI03F': 'float', 
    'BL03M': 'float', 'BL03F': 'float', 'WH03M': 'float', 'WH03F': 'float', 'HP03M': 'float', 'HP03F': 'float', 
    'TR03M': 'float', 'TR03F': 'float', 'G04': 'float', 'AM04M': 'float', 'AM04F': 'float', 'AS04M': 'float', 
    'AS04F': 'float', 'HI04M': 'float', 'HI04F': 'float', 'BL04M': 'float', 'BL04F': 'float', 'WH04M': 'float', 
    'WH04F': 'float', 'HP04M': 'float', 'HP04F': 'float', 'TR04M': 'float', 'TR04F': 'float', 'G05': 'float', 
    'AM05M': 'float', 'AM05F': 'float', 'AS05M': 'float', 'AS05F': 'float', 'HI05M': 'float', 'HI05F': 'float', 
    'BL05M': 'float', 'BL05F': 'float', 'WH05M': 'float', 'WH05F': 'float', 'HP05M': 'float', 'HP05F': 'float', 
    'TR05M': 'float', 'TR05F': 'float', 'G06': 'float', 'AM06M': 'float', 'AM06F': 'float', 'AS06M': 'float', 
    'AS06F': 'float', 'HI06M': 'float', 'HI06F': 'float', 'BL06M': 'float', 'BL06F': 'float', 'WH06M': 'float', 
    'WH06F': 'float', 'HP06M': 'float', 'HP06F': 'float', 'TR06M': 'float', 'TR06F': 'float', 'G07': 'float', 
    'AM07M': 'float', 'AM07F': 'float',  'AS07M': 'float', 'AS07F': 'float', 'HI07M': 'float', 'HI07F': 'float',  
    'BL07M': 'float', 'BL07F': 'float', 'WH07M': 'float', 'WH07F': 'float', 'HP07M': 'float', 'HP07F': 'float', 
    'TR07M': 'float', 'TR07F': 'float', 'G08': 'float', 'AM08M': 'float', 'AM08F': 'float', 'AS08M': 'float', 
    'AS08F': 'float', 'HI08M': 'float', 'HI08F': 'float', 'BL08M': 'float', 'BL08F': 'float', 'WH08M': 'float', 
    'WH08F': 'float', 'HP08M': 'float', 'HP08F': 'float', 'TR08M': 'float', 'TR08F': 'float', 'G09': 'float', 
    'AM09M': 'float', 'AM09F': 'float', 'AS09M': 'float', 'AS09F': 'float', 'HI09M': 'float', 'HI09F': 'float', 
    'BL09M': 'float', 'BL09F': 'float', 'WH09M': 'float', 'WH09F': 'float', 'HP09M': 'float', 'HP09F': 'float', 
    'TR09M': 'float', 'TR09F': 'float', 'G10': 'float', 'AM10M': 'float', 'AM10F': 'float', 'AS10M': 'float', 
    'AS10F': 'float', 'HI10M': 'float', 'HI10F': 'float', 'BL10M': 'float', 'BL10F': 'float', 'WH10M': 'float', 
    'WH10F': 'float', 'HP10M': 'float', 'HP10F': 'float', 'TR10M': 'float', 'TR10F': 'float', 'G11': 'float', 
    'AM11M': 'float', 'AM11F': 'float', 'AS11M': 'float', 'AS11F': 'float', 'HI11M': 'float', 'HI11F': 'float', 
    'BL11M': 'float', 'BL11F': 'float', 'WH11M': 'float', 'WH11F': 'float', 'HP11M': 'float', 'HP11F': 'float', 
    'TR11M': 'float', 'TR11F': 'float', 'G12': 'float', 'AM12M': 'float', 'AM12F': 'float', 'AS12M': 'float', 
    'AS12F': 'float', 'HI12M': 'float', 'HI12F': 'float', 'BL12M': 'float', 'BL12F': 'float', 'WH12M': 'float', 
    'WH12F': 'float', 'HP12M': 'float', 'HP12F': 'float', 'TR12M': 'float', 'TR12F': 'float', 'UG': 'float', 
    'AMUGM': 'float', 'AMUGF': 'float', 'ASUGM': 'float', 'ASUGF': 'float', 'HIUGM': 'float', 'HIUGF': 'float', 
    'BLUGM': 'float', 'BLUGF': 'float', 'WHUGM': 'float', 'WHUGF': 'float', 'HPUGM': 'float', 'HPUGF': 'float', 
    'TRUGM': 'float', 'TRUGF': 'float', 'MEMBER': 'float', 'AM': 'float', 'AMALM': 'float', 'AMALF': 'float', 
    'ASIAN': 'float', 'ASALM': 'float', 'ASALF': 'float', 'HISP': 'float', 'HIALM': 'float', 'HIALF': 'float', 
    'BLACK': 'float', 'BLALM': 'float', 'BLALF': 'float', 'WHITE': 'float', 'WHALM': 'float', 'WHALF': 'float', 
    'PACIFIC': 'float', 'HPALM': 'float', 'HPALF': 'float', 'TR': 'float', 'TRALM': 'float', 'TRALF': 'float', 
    'TOTETH': 'float'
}

# Convert float columns to float
float_columns = []
school_universe_2010.columns = df_types.keys()
for column, dtype in df_types.items():
    if dtype == 'float':
        float_columns.append(column)
        school_universe_2010[column] = school_universe_2010[column].astype(float)
        
# Aggregate (sum) float columns by school district('LEAID')
float_columns.append('LEAID')
school_universe_2010 = school_universe_2010[float_columns].groupby('LEAID').sum(skipna=True, min_count=1).reset_index()

To verify the school universe data was correctly aggregated, I printed the shape of the updated DataFrames. Since each record should now represent a school district, there should be around 18,000 records in each DataFrame.

In [5]:
print('school_universe_2010:', school_universe_2010.shape)

school_universe_2010: (17177, 253)

There are fewer school districts in the school universe data than the universe data. Upon further inspection, I discovered this is because many school districts do not have any schools.

In [6]:
print('Districts with no schools 2010:', len(universe_2010[universe_2010['SCH09'] == '0']))

Districts with no schools 2010: 1456

### Merging theÂ Data

Before merging the DataFrames, I first standardized the column names (i.e. "GSLO09" and "GSLO10" should both be "GSLO"). I also converted columns into the proper types to ensure proper aggregation.

In [7]:
# Commonize columns

# universe_2010
# Specify types 
df_types = {
    'LEAID': 'str', 'FIPST': 'str', 'STID': 'str', 'NAME': 'str', 'PHONE': 'str', 'MSTREE': 'str', 'MCITY': 'str',
    'MSTATE': 'str', 'MZIP': 'str', 'MZIP4': 'str', 'LSTREE': 'str', 'LCITY': 'str', 'LSTATE': 'str', 'LZIP': 'str',
    'LZIP4': 'str', 'TYPE': 'str', 'UNION': 'str', 'CONUM': 'str', 'CONAME': 'str', 'CSA': 'str', 'CBSA': 'str',
    'METMIC': 'str', 'ULOCAL': 'str', 'CDCODE': 'str', 'LATCOD': 'float', 'LONCOD': 'float', 'BOUND': 'str',
    'BIEA': 'str', 'GSLO': 'str', 'GSHI': 'str', 'AGCHRT': 'str', 'SCH': 'float', 'UG': 'float', 'PK12': 'float',
    'MEMBER': 'float', 'SPECED': 'float', 'ELL': 'float', 'PKTCH': 'float', 'KGTCH': 'float', 'ELMTCH': 'float',
    'SECTCH': 'float', 'UGTCH': 'float', 'TOTTCH': 'float', 'AIDES': 'float', 'CORSUP': 'float', 'ELMGUI': 'float',
    'SECGUI': 'float', 'OTHGUI': 'float', 'TOTGUI': 'float', 'LIBSPE': 'float', 'LIBSUP': 'float', 'LEAADM': 'float',
    'LEASUP': 'float', 'SCHADM': 'float', 'SCHSUP': 'float', 'STUSUP': 'float', 'OTHSUP': 'float', 'RACECAT': 'float'
}
universe_2010.columns = df_types.keys()

# Convert float columns to float
for column, dtype in df_types.items():
    if dtype == 'float':
        universe_2010[column] = universe_2010[column].astype(float)
        
# universe_2011
# Specify types
df_types = {
    'SURVYEAR': 'str', 'LEAID': 'str', 'FIPST': 'str', 'STID': 'str', 'NAME': 'str', 'PHONE': 'str', 'MSTREE': 'str',
    'MCITY': 'str', 'MSTATE': 'str', 'MZIP': 'str', 'MZIP4': 'str', 'LSTREE': 'str', 'LCITY': 'str', 'LSTATE': 'str',
    'LZIP': 'str', 'LZIP4': 'str', 'TYPE': 'str', 'UNION': 'str', 'CONUM': 'str', 'CONAME': 'str', 'CSA': 'str',
    'CBSA': 'str', 'METMIC': 'str', 'ULOCAL': 'str', 'CDCODE': 'str', 'LATCOD': 'float', 'LONCOD': 'float',
    'BIEA': 'str', 'BOUND': 'str', 'GSLO': 'str', 'GSHI': 'str', 'PKOFFRD': 'str', 'KGOFFRD': 'str', 'G01OFFRD': 'str',
    'G02OFFRD': 'str', 'G03OFFRD': 'str', 'G04OFFRD': 'str', 'G05OFFRD': 'str', 'G06OFFRD': 'str', 'G07OFFRD': 'str',
    'G08OFFRD': 'str', 'G09OFFRD': 'str', 'G10OFFRD': 'str', 'G11OFFRD': 'str', 'G12OFFRD': 'str', 'UGOFFRD': 'str',
    'AGCHRT': 'str', 'SCH': 'float', 'SPECED': 'float', 'ELL': 'float', 'PKTCH': 'float', 'KGTCH': 'float',
    'ELMTCH': 'float', 'SECTCH': 'float', 'UGTCH': 'float', 'TOTTCH': 'float', 'AIDES': 'float', 'CORSUP': 'float',
    'ELMGUI': 'float', 'SECGUI': 'float', 'OTHGUI': 'float', 'TOTGUI': 'float', 'LIBSPE': 'float', 'LIBSUP': 'float',
    'LEAADM': 'float', 'LEASUP': 'float', 'SCHADM': 'float', 'SCHSUP': 'float', 'STUSUP': 'float', 'OTHSUP': 'float',
    'RACECAT': 'float', 'PK': 'float', 'AMPKM': 'float', 'AMPKF': 'float', 'ASPKM': 'float', 'ASPKF': 'float',
    'HIPKM': 'float', 'HIPKF': 'float', 'BLPKM': 'float', 'BLPKF': 'float', 'WHPKM': 'float', 'WHPKF': 'float',
    'HPPKM': 'float', 'HPPKF': 'float', 'TRPKM': 'float', 'TRPKF': 'float', 'KG': 'float', 'AMKGM': 'float',
    'AMKGF': 'float', 'ASKGM': 'float', 'ASKGF': 'float', 'HIKGM': 'float', 'HIKGF': 'float', 'BLKGM': 'float',
    'BLKGF': 'float', 'WHKGM': 'float', 'WHKGF': 'float', 'HPKGM': 'float', 'HPKGF': 'float', 'TRKGM': 'float',
    'TRKGF': 'float', 'G01': 'float', 'AM01M': 'float', 'AM01F': 'float', 'AS01M': 'float', 'AS01F': 'float',
    'HI01M': 'float', 'HI01F': 'float', 'BL01M': 'float', 'BL01F': 'float', 'WH01M': 'float', 'WH01F': 'float',
    'HP01M': 'float', 'HP01F': 'float', 'TR01M': 'float', 'TR01F': 'float', 'G02': 'float', 'AM02M': 'float',
    'AM02F': 'float', 'AS02M': 'float', 'AS02F': 'float', 'HI02M': 'float', 'HI02F': 'float', 'BL02M': 'float',
    'BL02F': 'float', 'WH02M': 'float', 'WH02F': 'float', 'HP02M': 'float', 'HP02F': 'float', 'TR02M': 'float',
    'TR02F': 'float', 'G03': 'float', 'AM03M': 'float', 'AM03F': 'float', 'AS03M': 'float', 'AS03F': 'float',
    'HI03M': 'float', 'HI03F': 'float', 'BL03M': 'float', 'BL03F': 'float', 'WH03M': 'float', 'WH03F': 'float',
    'HP03M': 'float', 'HP03F': 'float', 'TR03M': 'float', 'TR03F': 'float', 'G04': 'float', 'AM04M': 'float',
    'AM04F': 'float', 'AS04M': 'float', 'AS04F': 'float', 'HI04M': 'float', 'HI04F': 'float', 'BL04M': 'float',
    'BL04F': 'float', 'WH04M': 'float', 'WH04F': 'float', 'HP04M': 'float', 'HP04F': 'float', 'TR04M': 'float',
    'TR04F': 'float', 'G05': 'float', 'AM05M': 'float', 'AM05F': 'float', 'AS05M': 'float', 'AS05F': 'float',
    'HI05M': 'float', 'HI05F': 'float', 'BL05M': 'float', 'BL05F': 'float', 'WH05M': 'float', 'WH05F': 'float',
    'HP05M': 'float', 'HP05F': 'float', 'TR05M': 'float', 'TR05F': 'float', 'G06': 'float', 'AM06M': 'float',
    'AM06F': 'float', 'AS06M': 'float', 'AS06F': 'float', 'HI06M': 'float', 'HI06F': 'float', 'BL06M': 'float',
    'BL06F': 'float', 'WH06M': 'float', 'WH06F': 'float', 'HP06M': 'float', 'HP06F': 'float', 'TR06M': 'float',
    'TR06F': 'float', 'G07': 'float', 'AM07M': 'float', 'AM07F': 'float', 'AS07M': 'float', 'AS07F': 'float',
    'HI07M': 'float', 'HI07F': 'float', 'BL07M': 'float', 'BL07F': 'float', 'WH07M': 'float', 'WH07F': 'float',
    'HP07M': 'float', 'HP07F': 'float', 'TR07M': 'float', 'TR07F': 'float', 'G08': 'float', 'AM08M': 'float',
    'AM08F': 'float', 'AS08M': 'float', 'AS08F': 'float', 'HI08M': 'float', 'HI08F': 'float', 'BL08M': 'float',
    'BL08F': 'float', 'WH08M': 'float', 'WH08F': 'float', 'HP08M': 'float', 'HP08F': 'float', 'TR08M': 'float',
    'TR08F': 'float', 'G09': 'float', 'AM09M': 'float', 'AM09F': 'float', 'AS09M': 'float', 'AS09F': 'float',
    'HI09M': 'float', 'HI09F': 'float', 'BL09M': 'float', 'BL09F': 'float', 'WH09M': 'float', 'WH09F': 'float',
    'HP09M': 'float', 'HP09F': 'float', 'TR09M': 'float', 'TR09F': 'float', 'G100': 'float', 'AM10M': 'float',
    'AM10F': 'float', 'AS10M': 'float', 'AS10F': 'float', 'HI10M': 'float', 'HI10F': 'float', 'BL10M': 'float',
    'BL10F': 'float', 'WH10M': 'float', 'WH10F': 'float', 'HP10M': 'float', 'HP10F': 'float', 'TR10M': 'float',
    'TR10F': 'float', 'G11': 'float', 'AM11M': 'float', 'AM11F': 'float', 'AS11M': 'float', 'AS11F': 'float',
    'HI11M': 'float', 'HI11F': 'float', 'BL11M': 'float', 'BL11F': 'float', 'WH11M': 'float', 'WH11F': 'float',
    'HP11M': 'float', 'HP11F': 'float', 'TR11M': 'float', 'TR11F': 'float', 'G12': 'float', 'AM12M': 'float',
    'AM12F': 'float', 'AS12M': 'float', 'AS12F': 'float', 'HI12M': 'float', 'HI12F': 'float', 'BL12M': 'float',
    'BL12F': 'float', 'WH12M': 'float', 'WH12F': 'float', 'HP12M': 'float', 'HP12F': 'float', 'TR12M': 'float',
    'TR12F': 'float', 'UG': 'float', 'AMUGM': 'float', 'AMUGF': 'float', 'ASUGM': 'float', 'ASUGF': 'float',
    'HIUGM': 'float', 'HIUGF': 'float', 'BLUGM': 'float', 'BLUGF': 'float', 'WHUGM': 'float', 'WHUGF': 'float',
    'HPUGM': 'float', 'HPUGF': 'float', 'TRUGM': 'float', 'TRUGF': 'float', 'MEMBER': 'float', 'AM': 'float',
    'AMALM': 'float', 'AMALF': 'float', 'ASIAN': 'float', 'ASALM': 'float', 'ASALF': 'float', 'HISP': 'float',
    'HIALM': 'float', 'HIALF': 'float', 'BLACK': 'float', 'BLALM': 'float', 'BLALF': 'float', 'WHITE': 'float',
    'WHALM': 'float', 'WHALF': 'float', 'PACIFIC': 'float', 'HPALM': 'float', 'HPALF': 'float', 'TR': 'float',
    'TRALM': 'float', 'TRALF': 'float', 'TOTETH': 'float'
}
universe_2011.columns = df_types.keys()

# Convert float columns to float
for column, dtype in df_types.items():
    if dtype == 'float':
        universe_2011[column] = universe_2011[column].astype(float)
        
# finance_2010 and finance_2011
# Specify types
df_types = {
    'LEAID': 'str', 'CENSUSID': 'str', 'FIPST': 'str', 'CONUM': 'str', 'CSA': 'str', 'CBSA': 'str', 'NAME': 'str',
    'STNAME': 'str', 'STABBR': 'str', 'SCHLEV': 'str', 'AGCHRT': 'str', 'YEAR': 'str', 'CCDNF': 'str',
    'CENFILE': 'str', 'GSLO': 'str', 'GSHI': 'str', 'V33': 'float', 'MEMBERSCH': 'float', 'TOTALREV': 'float',
    'TFEDREV': 'float', 'C14': 'float', 'C15': 'float', 'C16': 'float', 'C17': 'float', 'C19': 'float',
    'B11': 'float', 'C20': 'float', 'C25': 'float', 'C36': 'float', 'B10': 'float', 'B12': 'float', 'B13': 'float',
    'TSTREV': 'float', 'C01': 'float', 'C04': 'float', 'C05': 'float', 'C06': 'float', 'C07': 'float', 'C08': 'float',
    'C09': 'float', 'C10': 'float', 'C11': 'float', 'C12': 'float', 'C13': 'float', 'C35': 'float', 'C38': 'float',
    'C39': 'float', 'TLOCREV': 'float', 'T02': 'float', 'T06': 'float', 'T09': 'float', 'T15': 'float',
    'T40': 'float', 'T99': 'float', 'D11': 'float', 'D23': 'float', 'A07': 'float', 'A08': 'float', 'A09': 'float',
    'A11': 'float', 'A13': 'float', 'A15': 'float', 'A20': 'float', 'A40': 'float', 'U11': 'float', 'U22': 'float',
    'U30': 'float', 'U50': 'float', 'U97': 'float', 'C24': 'float', 'TOTALEXP': 'float', 'TCURELSC': 'float',
    'TCURINST': 'float', 'E13': 'float', 'V91': 'float', 'V92': 'float', 'TCURSSVC': 'float', 'E17': 'float',
    'E07': 'float', 'E08': 'float', 'E09': 'float', 'V40': 'float', 'V45': 'float', 'V90': 'float', 'V85': 'float',
    'TCUROTH': 'float', 'E11': 'float', 'V60': 'float', 'V65': 'float', 'TNONELSE': 'float', 'V70': 'float',
    'V75': 'float', 'V80': 'float', 'TCAPOUT': 'float', 'F12': 'float', 'G15': 'float', 'K09': 'float',
    'K10': 'float', 'K11': 'float', 'L12': 'float', 'M12': 'float', 'Q11': 'float', 'I86': 'float', 'Z32': 'float',
    'Z33': 'float', 'Z35': 'float', 'Z36': 'float', 'Z37': 'float', 'Z38': 'float', 'V11': 'float', 'V13': 'float',
    'V15': 'float', 'V17': 'float', 'V21': 'float', 'V23': 'float', 'V37': 'float', 'V29': 'float', 'Z34': 'float',
    'V10': 'float', 'V12': 'float', 'V14': 'float', 'V16': 'float', 'V18': 'float', 'V22': 'float', 'V24': 'float',
    'V38': 'float', 'V30': 'float', 'V32': 'float', 'V93': 'float', '_19H': 'float', '_21F': 'float', '_31F': 'float',
    '_41F': 'float', '_61V': 'float', '_66V': 'float', 'W01': 'float', 'W31': 'float', 'W61': 'float', 'HR1': 'float',
    'HE1': 'float', 'HE2': 'float', 'WEIGHT': 'float', 'FL_V33': 'str', 'FL_MEMBERSC': 'str', 'FL_C14': 'str',
    'FL_C15': 'str', 'FL_C16': 'str', 'FL_C17': 'str', 'FL_C19': 'str', 'FL_B11': 'str', 'FL_C20': 'str',
    'FL_C25': 'str', 'FL_C36': 'str', 'FL_B10': 'str', 'FL_B12': 'str', 'FL_B13': 'str', 'FL_C01': 'str',
    'FL_C04': 'str', 'FL_C05': 'str', 'FL_C06': 'str', 'FL_C07': 'str', 'FL_C08': 'str', 'FL_C09': 'str',
    'FL_C10': 'str', 'FL_C11': 'str', 'FL_C12': 'str', 'FL_C13': 'str', 'FL_C35': 'str', 'FL_C38': 'str',
    'FL_C39': 'str', 'FL_T02': 'str', 'FL_T06': 'str', 'FL_T09': 'str', 'FL_T15': 'str', 'FL_T40': 'str',
    'FL_T99': 'str', 'FL_D11': 'str', 'FL_D23': 'str', 'FL_A07': 'str', 'FL_A08': 'str', 'FL_A09': 'str',
    'FL_A11': 'str', 'FL_A13': 'str', 'FL_A15': 'str', 'FL_A20': 'str', 'FL_A40': 'str', 'FL_U11': 'str',
    'FL_U22': 'str', 'FL_U30': 'str', 'FL_U50': 'str', 'FL_U97': 'str', 'FL_C24': 'str', 'FL_E13': 'str',
    'FL_V91': 'str', 'FL_V92': 'str', 'FL_E17': 'str', 'FL_E07': 'str', 'FL_E08': 'str', 'FL_E09': 'str',
    'FL_V40': 'str', 'FL_V45': 'str', 'FL_V90': 'str', 'FL_V85': 'str', 'FL_E11': 'str', 'FL_V60': 'str',
    'FL_V65': 'str', 'FL_V70': 'str', 'FL_V75': 'str', 'FL_V80': 'str', 'FL_F12': 'str', 'FL_G15': 'str',
    'FL_K09': 'str', 'FL_K10': 'str', 'FL_K11': 'str', 'FL_L12': 'str', 'FL_M12': 'str', 'FL_Q11': 'str',
    'FL_I86': 'str', 'FL_Z32': 'str', 'FL_Z33': 'str', 'FL_Z35': 'str', 'FL_Z36': 'str', 'FL_Z37': 'str',
    'FL_Z38': 'str', 'FL_V11': 'str', 'FL_V13': 'str', 'FL_V15': 'str', 'FL_V17': 'str', 'FL_V21': 'str',
    'FL_V23': 'str', 'FL_V37': 'str', 'FL_V29': 'str', 'FL_Z34': 'str', 'FL_V10': 'str', 'FL_V12': 'str',
    'FL_V14': 'str', 'FL_V16': 'str', 'FL_V18': 'str', 'FL_V22': 'str', 'FL_V24': 'str', 'FL_V38': 'str',
    'FL_V30': 'str', 'FL_V32': 'str', 'FL_V93': 'str', 'FL_19H': 'str', 'FL_21F': 'str', 'FL_31F': 'str',
    'FL_41F': 'str', 'FL_61V': 'str', 'FL_66V': 'str', 'FL_W01': 'str', 'FL_W31': 'str', 'FL_W61': 'str',
    'FL_HR1': 'str', 'FL_HE1': 'str', 'FL_HE2': 'str'
}
finance_2010.columns = df_types.keys()
finance_2011.columns = df_types.keys()

# Convert float columns to float
for column, dtype in df_types.items():
    if dtype == 'float':
        finance_2011[column] = finance_2011[column].astype(float)

The financial, universe, and aggregated school universe data will now be combined into a single DataFrame (for each year). I used the "LEAID" column (unique identification number for each school district) as a key for the merge.

In [8]:
# Merge 2010 data
# Merge finance_2010 and universe_2010
merged_data_2010 = pd.merge(
    finance_2010,
    universe_2010,
    how='outer',
    on=['LEAID', 'FIPST', 'CONUM', 'CSA', 'CBSA', 'NAME', 'AGCHRT', 'GSLO', 'GSHI']
)

# Merge school_universe_2010
merged_data_2010 = pd.merge(
    merged_data_2010,
    school_universe_2010.drop(columns=['MEMBER', 'UG']),
    how='outer',
    on=['LEAID'])

# Merge 2011 data
merged_data_2011 = pd.merge(
    finance_2011,
    universe_2011,
    how='outer',
    on=['LEAID', 'FIPST', 'CONUM', 'CSA', 'CBSA', 'NAME', 'AGCHRT', 'GSLO', 'GSHI']
)

# Verify DataFrames merged correctly
print('merged_data_2010:', merged_data_2010.shape)
print('merged_data_2011:', merged_data_2011.shape)

merged_data_2010: (18473, 555)
merged_data_2011: (18523, 566)

### Labeling theÂ Data

Classification models require [labeled datasets](https://stackoverflow.com/a/19172720). In this case, the labels for each school district represent whether the school district is still operational in five years. To generate labels, I used the universe files from 2015 and 2016. If the school district is listed in the future universe file, and it's status is not "closed," then it is still operational. Otherwise, the school district is no longer operational.

In [9]:
# Create function to label whether school districts remain operational in five years
def calc_five_years_operational(merged_data, directory_data):
    """
    Return pandas dataframe of labeled dataframe

    param dataframe merged_data: dataframe of merged data
    param dataframe directory_data: dataframe with all school districts in 2015
    """
    
    merged_data = merged_data[merged_data['BOUND'] != '2'].copy()
    
    def condition1_generate(x):
        """
        Return boolean of whether school district exists in 5 years

        param string x: LEAID of school district to check
        """
        condition1 = x in directory_data['LEAID'].values
        if condition1:
            condition1 = directory_data.loc[directory_data['LEAID']==x, 'SY_STATUS'].values != '2'
        return condition1

    condition1 = merged_data['LEAID'].apply(condition1_generate)
    condition2 = merged_data['BOUND'].apply(lambda x: x != '2')
    merged_data['exist_five_years'] = condition1 & condition2
    return merged_data

# Apply function to 2010 and 2011 data
labeled_data_2010 = calc_five_years_operational(merged_data_2010, universe_2015_directory)
labeled_data_2011 = calc_five_years_operational(merged_data_2011, universe_2016_directory)

# Print proportions of school districts that will close within 5 years.
print(
    'Proportion of 2010 school districts at risk:',
    1 - labeled_data_2010['exist_five_years'].sum()/len(labeled_data_2010['exist_five_years'])
)
print(
    'Proportion of 2011 school districts at risk:',
    1 - labeled_data_2011['exist_five_years'].sum()/len(labeled_data_2011['exist_five_years'])
)

Proportion of 2010 school districts at risk: 0.044841815680880304
Proportion of 2011 school districts at risk: 0.04586404586404591

### Encoding theÂ Data

Missing and non-applicable values are coded as negative numbers in the data. These will be converted to NaN.

In [10]:
import numpy as np

# Create function to re-encode missing and non-applicable values
def encode_missing_values(raw_data):
    """
    Return dataframe with missing and non applicable values re-encoded as NA and 0

    param DataFrame raw_data: dataframe without re-encoded missing and non applicable values
    """
    reencoded_data = raw_data.copy()
    for column in reencoded_data.columns.tolist():
        missing_values = reencoded_data[column].apply(lambda x: x in [-1, '-1', '-1.0', '-1.00', 'M'] or pd.isnull(x))
        non_applicable_values = reencoded_data[column].apply(lambda x: x in [-2, '-2', '-2.0', '-2.00', 'N'])
        low_quality_values = reencoded_data[column].apply(lambda x: x in [-9, -3, -4, '-9', '-9.0', '-9.00', '-3', '-3.0', '-3.00', '-4', '-4.0', '-4.00'])

        reencoded_data.loc[missing_values, column] = np.nan
        reencoded_data.loc[non_applicable_values, column] = np.nan
        reencoded_data.loc[low_quality_values, column] = np.nan

    return reencoded_data

# Apply function to 2010 and 2011 data
encoded_data_2010 = encode_missing_values(labeled_data_2010)
encoded_data_2011 = encode_missing_values(labeled_data_2011)

### Miscellaneous Wrangling Tasks

Before proceeding to exploratory data analysis, there are a few last steps to complete. These steps will reduce the size of the data we will be analyzing.

In [11]:
# Print number of columns before wrangling
print('encoded_data_2010 before:', encoded_data_2010.shape)
print('encoded_data_2011 before:', encoded_data_2011.shape)

encoded_data_2010 before: (18175, 556)
encoded_data_2011 before: (18315, 567)

In both the 2010 and 2011 datasets, there are flag columns representing whether data is missing or non-applicable in other columns. Since I already encoded this information, these columns are no longer needed, and can be removed from the dataset.

In [12]:
# Remove flag columns
encoded_data_2010.drop(
    columns=[column for column in encoded_data_2010.columns if column[:3] == 'FL_'],
    inplace=True
)

encoded_data_2011.drop(
    columns=[column for column in encoded_data_2011.columns if column[:3] == 'FL_'],
    inplace=True
)

Although there are hundreds of variables attached to each school district, there are some variables which few school districts reported on. I removed variables with more than half the data missing.

In [13]:
# Remove columns with excessive missing values
encoded_data_2010.drop(
    columns=[column for column in encoded_data_2010.columns if 
             pd.isnull(encoded_data_2010[column]).sum()/len(encoded_data_2010) > 0.5],
    inplace=True
)

encoded_data_2011.drop(
    columns=[column for column in encoded_data_2011.columns if 
             pd.isnull(encoded_data_2011[column]).sum()/len(encoded_data_2011) > 0.5],
    inplace=True
)

To ensure the analysis is consistent between the 2010 and 2011 datasets, columns that don't appear in both datasets are removed.

In [14]:
# Remove uncommon columns that don't appear in both 2010 and 2011
encoded_data_2010.drop(
    columns=[column for column in encoded_data_2010.columns if column not in encoded_data_2011.columns],
    inplace=True
)

encoded_data_2011.drop(
    columns=[column for column in encoded_data_2011.columns if column not in encoded_data_2010.columns],
    inplace=True
)

To verify, I printed the shape of the 2010 and 2011 DataFrames. There should be fewer columns, and the DataFrames should have the same number of columns.

In [15]:
# Print number of columns after wrangling
print('encoded_data_2010 after:', encoded_data_2010.shape)
print('encoded_data_2011 after:', encoded_data_2011.shape)

encoded_data_2010 after: (18175, 356)
encoded_data_2011 after: (18315, 356)

# Saving the Data
The processed data are saved to csv files.

In [16]:
encoded_data_2010.to_csv('outputs/encoded_data_2010.csv', index=False)
encoded_data_2011.to_csv('outputs/encoded_data_2011.csv', index=False)